

input {
    border:  none;
    border-bottom: 1px solid $secondary-color;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.2rem;
    color: $secondary-color;
    &:focus {
        outline: none;
        border-color: $secondary-color;
    }
}