@import "variables";

header {
    height: 50px;
}

.menu-icon {
    height: $size;
    width: $size;
    position: fixed;
    left: 50px;
    top: 30px;
    z-index: 2;
    cursor: pointer;
    &__line {
        height: 2px;
        width: $size;
        display: block;
        background-color: $secondary-color;
        margin-bottom: 4px;
        transition: transform 0.2s ease, background-color 0.5s ease;
        &-left {
            width: $size / 2;
        }
        &-right {
            width: $size / 2;
            float: right;
        }
    }
}

.nav {
    position: fixed;
    z-index: 1;
    &::before,
    &::after {
        content: "";
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(#eaeaea, 0.2);
        z-index: -1;
        transition: transform $transition--easing $transition--length + s;
        transform: translateX(0%) translateY(-100%);
    }
    &:after {
        background: $secondary-color;
        transition-delay: 0s;
    }
    &:before {
        transition-delay: 0.1s;
    }
    &__content {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include md {
            flex-direction: row;
            gap: 2rem;
        }
        &-item {
            position: relative;
            height: 0;
            overflow: hidden;
            transition-delay: $transition--length + s;
            opacity: 0;
            visibility: hidden;
            transform: translate(0%, 100%);
            transition: opacity 0.2s ease, transform 0.3s ease;
            &:before {
                content: "";
                position: absolute;
                background: $primary-color;
                width: 0;
                height: 2px;
                top: 100%;
                transform: translate(0%, 0%);
                transition: all 0.3s ease;
                z-index: -1;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

body.menu-open {
    $menu--items--count: 4;
    .menu-icon {
        &__line {
            background-color: #000;
            transform: translateX(0px) rotate(-45deg);
        }
        &__line-left {
            transform: translateX(1px) rotate(45deg);
        }
        &__line-right {
            transform: translateX(-2px) rotate(45deg);
        }
    }
    .nav {
        visibility: visible;
        &:before,
        &:after {
            transform: translateX(0%) translateY(0%);
        }
        &:after {
            transition-delay: 0.1s;
        }
        &:before {
            transition-delay: 0s;
        }
        &__list {
            &-item {
                opacity: 1;
                visibility: visible;
                height: auto;
                transform: translateX(0%);
                transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
                @for $i from 0 through $menu--items--count {
                    &:nth-child(#{$i}) {
                        transition-delay: $transition--length * $i / 8 + 0.5 + s;
                    }
                }
            }
            &-link {
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}
