.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.text {
    font-size: 0.9rem;
    font-family: $secondary-font;
    font-weight: 400;
    color: $secondary-color;
    text-align: center;
}
